.auth-home-container {
    display: flex;
    flex-direction: column;
    margin: 40px;
    background-color: #EBE6D6;
    padding: 20px;
    border: 1px solid #163E6C;
    border-radius: 10px;
    min-height: calc(100vh - (145px * 2));
}

.auth-user-info {
    max-width: max-content;
    background-color: #163E6C;
    color: #EBE6D6;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px 20px;
}

.auth-home-title {
    font-size: 40px;
    margin-bottom: 10px;
    letter-spacing: 0.01em;
}

.auth-home-role {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.01em;
}

@media screen and (max-width: 1000px) {
    .auth-home-title {
        font-size: 32px;
    }
}

@media screen and (max-width: 700px) {
    .auth-home-container {
        margin: 20px;
        padding: 20px 10px;
    }
}

@media screen and (max-width: 600px) {
    .auth-home-title {
        font-size: 28px;
    }

    .auth-home-role {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    .auth-home-container {
        margin: 20px 5px;
    }

    .auth-home-title {
        font-size: 24px;
    }

    .auth-home-role {
        font-size: 16px;
    }
}